<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  &nbsp;
  
  @if (auth.isLoggedIn()) {
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    &nbsp;
    
    <!-- Appare solo se è un docente -->
    @if (auth.hasRole('docente')) {
      <a routerLink="/docente" routerLinkActive="active">Area Docente</a>
      &nbsp;
    }

    <!-- Appare solo se è uno studente -->
    @if (auth.hasRole('studente')) {
      <a routerLink="/studente" routerLinkActive="active">I Miei Voti</a>
      &nbsp;
    }

    <span>Bentornato, {{ auth.getUsername() }}</span>
    &nbsp;
    <button (click)="auth.logout()">Logout</button>
  } @else {
    <button (click)="auth.login()">Login</button>
  }
</nav>

<main>
  <router-outlet />
</main>